.header-link {
    cursor: pointer;
    color: white
}
.icon {
    display: none;
}
@media screen and (max-width : 800px) {
    .nav{ 
        display: none;
    }
}
@media screen and (max-width : 800px) {
    .icon {
        display: block;
    }
    .nav.icon{
        display: flex;
    }
    .active {
        display: none;
    }
    .nav.icon.responsive {
        display: none;
    }
}